<nav>
    <div class="w-full h-[30px] bg-red-500 flex items-center justify-center">
        <p class="font-medium text-white">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%! <a href="#" class="underline">Shop Now</a></p>
    </div>

    <div class="bg-blue-300 w-full h-[60px] flex">
        <div class="bg-orange-300 w-[60%] h-full flex items-center justify-around">
            <h1 class="no-underline font-bold text-xl">E-commerce</h1>
            <ul class="flex">
                <li><a class="px-3 py-2 font-medium hover:underline" href="#">Home</a></li>
                <li><a class="px-3 py-2 font-medium hover:underline" href="#">Contact</a></li>
                <li><a class="px-3 py-2 font-medium hover:underline" href="#">About</a></li>
                <li><a class="px-3 py-2 font-medium hover:underline" href="#">Sign up</a></li>
            </ul>
            <button type="button" class="px-3 py-2 bg-red-500 font-medium text-white rounded-md hover:bg-red-600 cursor-pointer">Shop</button>
        </div>
        <div class="bg-green-300 w-[40%] h-full">

        </div>
    </div>
</nav>
 